.warrper
  = render "top/headers"
  = form_with model: @item, local: true do |f|
    .new-inner
      .new-title
        .new-title__inner
          %input.form-control{name: "draft_item[title]", placeholder: "タイトル", tabindex: "1", value: ""}/
      .new-tag
        .new-tag__inner
          %input.form-control{name: "draft_item[tag]", placeholder: "タグ", tabindex: "1", value: ""}/
      .new-text
        .new-text__inner
          .new-text__inner__top
            .sell-main__upload-items
              %input#myfile{:type => "file"}/
              %br
              %img#img{:style => "width: 400px;height: 400px"}/
        .new-text__inner__bottom
          = f.text_area :description, {class: "text-input", placeholder: "アート知識を共有しよう！"}
      .new-push
        .new-push__inner
          %button.push-button{tabindex: "12", type: "button"}
            %span.push-icon
              投稿