.news-inner {
  margin-top: 30px;
  .news-title {
    &__inner {
      width: 100%;
      .form-control {
        width: 90%;
        padding: 10px;
        border: 1px solid #ddd;
      }
    }
  }
  .news-tag {
    margin-top: 20px;
    &__inner {
      .form-control {
        width: 90%;
        padding: 10px;
        border: 1px solid #ddd;
      }
    }
  }
  .news-text {
    display: flex;
    &__inner {
      &__top {
        width: 90%;
        background-color: honeydew;
        
      }
    }
    .text-input {
      width:50%;
      height:300px;
      border: 1px solid #ddd;
      textarea {
        resize: vertical;
      }
    }
  }
  .news-push {
    &__inner {
      .push-button {
        .push-icon {
          color: red($color: #000000)
        }
      }
    }
  }
}
