.new-inner {
  margin-top: 30px;
  .new-title {
    &__inner {
      width: 100%;
      .form-control {
        width: 90%;
        padding: 10px;
      }
    }
  }
  .new-tag {
    margin-top: 20px;
    &__inner {
      .form-control {
        width: 90%;
        padding: 10px;
      }
    }
  }
  .new-text {
    &__inner {
      .main-textarea {
        width: 100%;
      }
    }
  }
  .new-push {
    &__inner {
      .push-button {
        .push-icon {
          color: red($color: #000000);
        }
      }
    }
  }
}
