.new-inner {
  margin-top: 30px;
  .new-title {
    &__inner {
      width: 100%;
      .form-control {
        width: 90%;
        padding: 10px;
        border: 1px solid #ddd;
      }
    }
  }
  .new-tag {
    margin-top: 20px;
    &__inner {
      .form-control {
        width: 90%;
        padding: 10px;
        border: 1px solid #ddd;
      }
    }
  }
  .new-text {
    // display: flex;

    &__inner {
      &__top {
        // background-color: rgb(253, 158, 81);
        .sell-main__upload-items {
          text-align: center;
          margin: 20px 0;
        }
        
      }
    }
    .text-input {
      width:99%;
      height:300px;
      border: 1px solid #ddd;
      margin-top: 20px;
      textarea {
        resize: vertical;
      }
    }
  }
  .new-push {
    &__inner {
      text-align: center;
      margin-top: 20px;
      .push-button {
        padding: 20px 40px;
        background-color: orangered;
        border: 1px solid #ddd;
        .push-icon {
          color: white;
          background-color: orangered;
          font-weight: bolder;
        }
      }
    }
  }
}
